{% extends "base.html" %}

{% block title %}SimpleDo{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to Todo</h1>
        <p class="lead">Create simple and minimalistic tasks with ease.</p>
        <a href="{% url 'task:task' %}" class="btn btn-primary mt-3">Start now</a>
    </div>

    <div id="features" class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Simple Design</h2>
                <p>Our clean and minimalist interface ensures you stay focused on what matters getting things done.</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Responsive</h2>
                <p>Access your tasks on any device, anywhere, with our fully responsive layout.</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Quick Setup</h2>
                <p>Start creating your tasks in seconds, no clutter, no distractions just tasks and productivity.</p>
            </div>
        </div>
    </div>

{% endblock %}
