{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Task List</h1>
        <p class="lead">Manage your tasks here</p>
    </div>

    <div class="mb-4">
        <p>Create a new task</p>
        <a href="{% url 'task:create-task' %}" class="btn btn-primary">New Task</a>
    </div>

    <div>
        <h3>List of Tasks</h3>
        {% if tasks %}
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>{{ task.title }}</strong>
                            <p>{{ task.context }}</p>
                        </div>
                        <div>
                            <!-- Botões de ação -->
                            <a href="{% url 'task:task' %}" class="btn btn-info btn-sm">View</a>
                            <a href="{% url 'task:task'  %}" class="btn btn-warning btn-sm">Update</a>
                            <form action="{% url 'task:task' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tasks available.</p>
        {% endif %}
    </div>

{% endblock %}
